.banner {
    background-image: url(../../IMG/IMG_5719.jpg);
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid #000;
}

.banner .wrapper {
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;

}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}

.banner .texto-titulo {
    font-family: Fira code, cursive;
    font-size: 30px;
    color: aqua;
    width: 500;
    text-align: center;
}

.banner .oração {
    display: inline-block;
    width: 520px;
    font-family: Bebas Neue;
    font-size: 18px;
    color: #FFF;
    text-align: justify;
}