.banner {
    background-image: url(../../IMG/IMG_5719.jpg);
    height: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid #000;
}

.banner .wrapp {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner .box {
    margin-bottom: 40px;
    margin-top: 115px;
    margin-left: 90px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;

}
