.box {
    display: inline-block;
    background-image: linear-gradient(to top left, #420879, #7c5e99, #8111eb);
    text-align: center;
    width: 630px;
    box-shadow: 4px 5px 3px #000;
    border-radius: 10px 100px / 120px 100px;
    padding: 15px 0;
    border: none;
}