.texto-body {
    color: #fff;
    font-family: cursive, sans-serif;
    font-size: 45px;
    text-shadow: 3px 3px 2px #000;
}

.texto-body.-second {
    color: #000;
    text-shadow: none;
    text-align: center;
}