.texto-body {
    color: #fff;
    font-family: cursive, sans-serif;
    font-size: 45px;
    text-shadow: 3px 3px 2px #000;
}

.texto-body.-second {
    color: #000;
    text-shadow: none;
    text-align: center;
}

.texto-body.-third {
    color: #FFF;
    text-shadow: none;
}

.texto {
    margin-top: 20px;
    text-align: justify;
    color: #FFF;
    font-size: 20px;
    font-family: Fira code, Helvetica, sans-serif;
}

.texto.-second {
    text-align: center;
    color: #000;
    font-family: cursive, sans-serif;
    font-size: 45px;
    text-shadow: none;
}